@font-face {
    font-family:'TT Lakes';
    src: url('/style/fonts/TTLakes-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/style/fonts/TTLakes-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/style/fonts/TTLakes-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/style/fonts/TTLakes-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}