@font-face {
    font-family:'TT Lakes';
    src: url(/fonts/TTLakes-Bold.ttf) format ("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(/fonts/TTLakes-Light.ttf) format ("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(/fonts/TTLakes-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(/fonts/TTLakes-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}