:root {
  --paleBackground: #ffffff;
  --white: #f8f8f8;
  --whiteButton: #eaeaea;
  --grey: #7e7e82;
  --black: #1b1c21;
  --superLightTurquoise: #d9fff5;
  --lightTurquoise: #b8ffec;
  --turquoise: #41f6d7;
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #dddddd;
  --swiper-pagination-bullet-inactive-opacity: 1;

  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family:'TT Lakes', serif;
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.button {
  background-color: #f8f8f8;
  border: none
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  width: 100%;
  padding: 0 16px;
  background: #ffffff;
  position: relative; 
  flex-wrap: nowrap;
  box-sizing: border-box;
}


.header__nav-left,
.header__nav-right {
  display: flex;
  gap: 16px;
  padding: 0; 
  align-items: center;
  flex-shrink: 0; 
}
.header__buttons {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.header__buttons--hidden {
  display: none;
}



.header__divider img {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  display: block;
  height: 32px;
  width: auto;

}

.main {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 24px;
  padding: 0 0px;
  max-width: 100vw;
  overflow: hidden;
}


/* Стили левого всплывающего меню */
.leftbar {
    display: none;
    position: fixed;
    flex-direction: column;
     align-items: flex-start;
    width: 320px;
    z-index: 100;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 10px 0 20px 15px rgba(0, 0, 0, 0.2), inset 1px 0 0 rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
  }

  .leftbar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 39px;
    background-color: #41F6D7;
    border-radius: 0 6px 6px 0;
    transition: top 0.3s ease;
    pointer-events: none;
    opacity: 0;
  }

  .leftbar__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    
  }
  .leftbar__header-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
    padding-left: 24px;
    
  }

  .leftbar__header-navigationleft{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    
        
  }
  .leftbar__header-navigationright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 40px;
    gap: 16px;
        
  }

  .leftbar__btn {
    border: none;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .leftbar__btn:active {
    transition: transform 0
  }

  .leftbar__btn img:hover {
    transition: scale 0.3s ease;
    transform: scale(1.1);
  }
  .btn--highlight {
    border: none;
  }


  .leftbar__mainmenu {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding-left: 24px;
    margin-bottom: 40px;

  }

  .leftbar__listbtn {
    display: flex;
    justify-content: flex-start;
    width: max-content;
    height: 24px;
    background-color: #ffffff;
    color: #1b1c21;
    font-weight: 500;
    font-family: 'TT Lakes', serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: none;
    cursor: pointer;
  

  }

  .leftbar__listbtn:hover {
    border-bottom: 3px solid #41F6D7;
    transform: scale(1.1);
  }

  .leftbar__listbtn:active{
    transition: transform 0.9s ease-in-out;
    opacity: 0.5;
  }

  .leftbar__mainmenulist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    background-color: #ffffff;
    border: none;
  }

  .leftbar__mainmenuhighlight {
    position: absolute;
    padding-left: 0;
    width: 4px;
    height: 32px;
    border: none;
    margin-top: 200px;
  }
  .leftbar__footer {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 24px;
    padding-bottom: min(20px, 3vh);
    
}
  .leftbar__footercontacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
  }

  .leftbar__footerlanguage {
    display: flex;
    gap: 7px;

  }
  .leftbar__footerbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    cursor: pointer;
   
  }
  .btn--lang {
    font-family: 'TT Lakes', serif;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
    cursor: pointer;
    transition: all 0.3s ease;
}
  .btn--lang:hover  {
     transform: scale(1.1);
     font-weight: 700;
    

  }
  .leftbar__mailtext {
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
    margin-bottom: 12px;

  }

  .leftbar__phonenumber {
    font-family: 'TT Lakes', serif;
    font-size: 24px;
    font-weight: 700;
    color: #1B1C21;
    margin-bottom: 40px;

  }

  /* Конец стилей левого всплывающего меню */

.main__title {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 42px;
}

.main__title-first {
  display: flex;            /* Размещаем значок и текст в одну строку */
  align-items: center;      /* Выравниваем по вертикали по центру */
  gap: 8px;                  /* Отступ между значком и текстом */
}

.main__title-highlight {
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border: none;
  margin: 0;
  left: 0;
  padding: 0 0 0 0;
}

.main_title-text {
  font-size: 28px;
  font-weight: 700;
  color: #1B1C21;
}

.main__buttons {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
  border: none;    
  overflow-x: scroll;
  white-space: nowrap;
  background-color: transparent;

}



.main__buttons::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.main__buttons button {
  white-space: nowrap;
  border-radius: 6px;
  padding: 8px 16px;
  border: 0px solid #EAEAEA;
  background: transparent;
  font-size: 16px;
  color: #1B1C21;
  flex-shrink: 0;
  
}



.main__buttons--hidden{
    display: none;
  }

  .main__button:first-child {
    background-color: transparent;
    border: 2px solid #b8ffec;
  }

.main__article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  font-size: 16px;
  color: #1B1C21;
  line-height: 1.5;
  padding: 0 16px;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

  .main_textflex{
    width: 100%;
  }
 .textflex{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
 }
.text2{
    display: none;
  }



.main__article-read { 
  display: flex;
  flex-direction: row;
}

.main__img {
  padding-right: 15px;
  width: 50%;
  height: auto;
  border-radius: 8px;

}

.main__text {
        display: inline-flex;
        align-items: center;
    gap: 20px;
    color: #1B1C21;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.2s;
}
/* Читать далее */
.main__read {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #1B1C21;
  font-weight: 500;
  background: none;
  border: none;
  padding: 0;
  margin-top: 16px;
  cursor: pointer;
  width: 132px;
  height: 24px;
  top: 426px;
  left: 25px;
}


.read__arrows {
  width: 16px;
    height: 16px;
    display: inline-block;
  
}

.read__arrows-span {
  padding-right: 5px;

}

/* Свайпер */
.header {
  height: 56px;
  background: linear-gradient(
    90deg,
    var(--white) 0%,
    var(--paleBackground) 100%
  );
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.header__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: var(--grey);
}
#slide {
  max-width: 240px;
}
.card {
  width: 240px;
  height: 72px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border-width: 1px;

  border: 1px solid var(--whiteButton);
  background-color: var(--paleBackground);
}

.card__container {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lenovo {
  width: 108px;
  height: 32px;
  background-size: cover;
  background: url("/icons/swiper/cards/lenovo.svg");
}
.samsung {
  width: 116px;
  height: 38px;
  background-size: con;
  background: url("/icons/swiper/cards/samsung.svg");
}
.apple {
  width: 44px;
  height: 44px;
  background-size: cover;
  background: url("/icons/swiper/cards/apple.svg");
}
.bosch {
  width: 128px;
  height: 29px;
  background-size: cover;
  background: url("/icons/swiper/cards/bosh.svg");
}
.hp {
  width: 52px;
  height: 52px;
  background-size: cover;
  background: url("/icons/swiper/cards/hp.svg");
}
.acer {
  width: 92px;
  height: 24px;
  background-size: cover;
  background: url("/icons/swiper/cards/accer.svg");
}
.view-sonic {
  width: 128px;
  height: 21px;
  background-size: cover;
  background: url("/icons/swiper/cards/viewsonic.svg");
}
.sony {
  width: 128px;
  height: 26px;
  background-size: cover;
  background: url("/icons/swiper/cards/sony.svg");
}
.button__dropdown {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-size: cover;
  cursor: pointer;
  background: url("/icons/swiper/button/go.svg");
}

.line {
  display: none;
}


#swiper {
    position: relative;
    overflow: hidden;
}

.swiper-pagination {
    display: flex !important;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC !important;
}


.swiper {
    position: relative;
    padding-bottom: 40px; 
}

@media (max-width: 767px) {
  .main {
    padding: 16px 0 33px 0;
  }
  .header {
    height: 80px;
    padding-left: 16px;
    text-align: left;
  }

  #swiper {
    min-height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .line {
    display: block;
    position: absolute;
    width: 24px;
    height: 82px;
    top: -5px;
    right: 0;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10000;
  }
  #pagination {
    display: block;
    position: static;
  }
  .about__read-more {
    display: none;
  }
}

/* конец свайпера */

@media (max-width: 767px) {
    #pagination {
        display: block !important;/* Переопределяем display: none */
    }
    
      
    .swiper-slide {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 240px !important;
        margin-right: 16px;
    }
  
    .swiper-wrapper: {
        display: flex !important;;
    }
}

/* Адаптив Планшет*/
@media (min-width: 768px) {
  .header__nav {
    padding: 0 24px;
  }

   .header__buttons--hidden {
    display: block;
}

  .header__nav-left,
  .header__nav-right{
    gap: 20px;
  }
  .main__title {
    padding-left: 0;
  }

  .main__buttons {
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    background-color: transparent;
    
  }
 .main__button:hover {
    border-color:#b8ffec;
    background-color: #ffffff;
  }
  .main__button:first-child {
    background-color: transparent;
    border: 2px solid #b8ffec;
  }

  .main__buttons--hidden {
    display: none;
  }
  

  .main__buttons button {
    font-size: 16px;
    padding: 10px 18px;
    background: #f8f8f8;
    border:none;
  }

  .main__article {
    flex-direction: row;
  }
  .text2{
    display:flex;
    overflow:visible ;
    
}

  .text2Hidden{
    display: none;
  }

  .main_textflex{
    width: 50%;
  }
  .main__img {
    width: 30%;

  }
}

 #swiper {
    padding: 24px;
    max-height: 199px;
    overflow: hidden;
    display: grid;
    justify-content: space-between;
  }
  .swiper.active {
    max-height: max-content !important;
  }
  #wrapper {
    grid-template-columns: repeat(3, 224px);
    justify-items: center;
    align-items: center;
    gap: 16px 24px;
  }
  #swiper-slide {
    max-width: 224px;
  }
  .card {
    width: 224px;
  }
  .about__read-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--black);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    gap: 8px;
  }

  .read-more__expand {
    width: 24px;
    height: 24px;
    background-image: url("/icons/swiper/button/expand.svg");
    background-size: cover;
    transition: transform 0.5s ease;
  }

  .read-more__expand.active {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
  }

  .read-more__text {
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    cursor: pointer;
      }

      

/* Адаптив Десктоп*/
@media (min-width: 1024px) {

    
 .leftbar {
  display: block;
 }
  .header__nav {
    padding: 0 32px;
    display: none;
  }

  .header__buttons {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  }
 
  .header__nav-left,
  .header__nav-right{
    gap: 20px;
  }

  .header__nav-right {
    display: flex;
    gap: 16px;
    padding: 0; 
    align-items: center;
    flex-shrink: 0; 
  }

  .main {
    padding: 0 0px;
    gap: 32px;
  }

  .main__title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    padding-right: 25px;
  }
 .main__title-first {
  display: flex;
  align-items: center;
  gap: 16px;


  }
  .main_title-text {

    font-size: 5px;
    font-weight: 700;
  }

  .main__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    row-gap: 16px;
    column-gap: 12px;
    background-color: transparent;
    gap: 10px;
    overflow-x: scroll;
  }
  .button{
    background-color: #F8F8F8;
  }
  

  .main__button:hover {
    border-color:#b8ffec;
    background-color: #ffffff;
  }
  
  .main__buttons--hidden {
    display: flex !important;
    flex-shrink: 0;
    gap: 16px;
  }

  .main__buttonText {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: 'TT Lakes', serif;
    font-weight: 500;
    color: #1B1C21;
  }
  
  .main__article {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 32px
  }

  .main__img {
    height: 100%;
    border-radius: 8px;
    width: 50%;
    

  }
  .text2Hidden{
    display: block;
  }
  

  .main__read {
    font-size: 18px;
  }
}

 #wrapper {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 16px 32px;
  }
  #slide {
    max-width: 240px;
  }
  .card {
    width: 240px;
  }

  #pagination {
        display: none; /* Скрываем пагинацию на больших экранах */
    }